n8n-arena-workflow.json
{
  "name": "Arena Coligados - Sync Supabase to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 */30 * * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Trigger - A cada 30min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://fogtbptqvvhoqesljlen.supabase.co/rest/v1/reservas",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8"
          }
        }
      },
      "id": "supabase-reservas",
      "name": "Buscar Reservas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://fogtbptqvvhoqesljlen.supabase.co/rest/v1/leads",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8"
          }
        }
      },
      "id": "supabase-leads",
      "name": "Buscar Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://fogtbptqvvhoqesljlen.supabase.co/rest/v1/quadras",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvZ3RicHRxdnZob3Flc2xqbGVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MzU5NjgsImV4cCI6MjA3MzExMTk2OH0.Fi0L_3mnpbjZFGqLvf_peDq5XkiDtiwF0vfn6nMDfg8"
          }
        }
      },
      "id": "supabase-quadras",
      "name": "Buscar Quadras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "174HlbAsnc30_T2sJeTdU4xqLPQuojm7wWS8YWfhh5Ew",
        "sheetName": "Reservas",
        "columnToMatchOn": "id",
        "options": {
          "usePathForKeyRow": true,
          "pathForKeyRow": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "cliente_id": "={{ $json.cliente_id }}",
            "quadra_id": "={{ $json.quadra_id }}",
            "data_inicio": "={{ $json.data_inicio }}",
            "data_fim": "={{ $json.data_fim }}",
            "valor_total": "={{ $json.valor_total }}",
            "status": "={{ $json.status }}",
            "tipo": "={{ $json.tipo }}",
            "created_at": "={{ $json.created_at }}"
          }
        }
      },
      "id": "google-sheets-reservas",
      "name": "Atualizar Planilha Reservas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "174HlbAsnc30_T2sJeTdU4xqLPQuojm7wWS8YWfhh5Ew",
        "sheetName": "Leads",
        "columnToMatchOn": "id",
        "options": {
          "usePathForKeyRow": true,
          "pathForKeyRow": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "telefone": "={{ $json.telefone }}",
            "interesse": "={{ $json.interesse }}",
            "origem": "={{ $json.origem }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.created_at }}"
          }
        }
      },
      "id": "google-sheets-leads",
      "name": "Atualizar Planilha Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "174HlbAsnc30_T2sJeTdU4xqLPQuojm7wWS8YWfhh5Ew",
        "sheetName": "Quadras",
        "columnToMatchOn": "id",
        "options": {
          "usePathForKeyRow": true,
          "pathForKeyRow": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $json.nome }}",
            "tipo": "={{ $json.tipo }}",
            "capacidade": "={{ $json.capacidade }}",
            "preco_hora": "={{ $json.preco_hora }}",
            "descricao": "={{ $json.descricao }}",
            "ativo": "={{ $json.ativo }}",
            "created_at": "={{ $json.created_at }}"
          }
        }
      },
      "id": "google-sheets-quadras",
      "name": "Atualizar Planilha Quadras",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Trigger - A cada 30min": {
      "main": [
        [
          {
            "node": "Buscar Reservas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Leads", 
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Quadras",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Buscar Reservas": {
      "main": [
        [
          {
            "node": "Atualizar Planilha Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Leads": {
      "main": [
        [
          {
            "node": "Atualizar Planilha Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Quadras": {
      "main": [
        [
          {
            "node": "Atualizar Planilha Quadras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
